<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filmes</title>

    <style type = "text/css">
        #menu ul li{
            color: white;
            background-color: green;
            float: left;
            width: 300px;
            height: 50px;
            display: inline-block;
            text-align: center;
            line-height: 50px;
            font-size: 20px
		}
    </style>
</head>
<body>
    <div class = "centro">
        <div id="menu">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Adicionar</li>
                <li>Listar</li>
            </ul><br><br><br><br>
        </div>
    </div>
    <h1>Template básico</h1>
    <hr>

    <h2>Lista de filmes: </h2>
    <ul>
    {% for i in filmes %}
        <li>{{ i.nome }};</li>
    {% endfor %}
    </ul>
    <br>
    <button><a href="{% url 'adcFilme' %}">Novo</a></button>

</body>
</html>