<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home do Django</title>
</head>
<body>
    <h1>CRUD</h1>
    <hr>
    <strong><span>Home de Opções</span></strong><br>
    <a href= "{% url 'listagemFilmes' %}">Listar Filmes</a><br>
    <a href= "{% url 'adcFilme' %}">Adicionar Filme</a><br>

</body>
</html>